/* Fade-in effect */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

/* Hover en cards */
.card {
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05) rotate(2deg);
}


/*Card educacion*/
.card-educacion {
  background: linear-gradient(135deg, #004e92, #000428); /* fondo degradado */
  color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-educacion:hover {
  transform: translateY(-8px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4);
}


  